@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #e8e8e8;
  --card-light: #FFFFFF;
  --border-light: #E2E8F0;

  --text-primary-light: #0F172A;
  --text-secondary-light: #475569;
  --text-contrast-light: #F8FAFC;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-light);
  color: var(--text-primary-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
